<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZoomAutoRecorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
		
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <ZoomAutoRecorder.Properties.Settings>
            <setting name="ZoomPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OBSPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DZA" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="KZA" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LessonTime" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecordLesson" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TCKNPASS" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkerDelay" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="AutoMode" serializeAs="String">
                <value>False</value>
            </setting>
        </ZoomAutoRecorder.Properties.Settings>
    </userSettings>
</configuration>
